.tabletheader {
    display: none;
}
nav{
    background-color: pink;
}
#nav-tablet {
    display: none;
}
#nav-desktop{
    display: none;
}
button {
    background-color: none;
    color: black;
    border: none;
    cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdownbutton {
    position: relative;
    display: inline-block;

}
/* Dropdown Content (Hidden by Default) */
.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}
/* Links inside the dropdown */
.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown a:hover {
    background-color: #f1f1f1
}
/* Show the dropdown menu on hover */
.dropdownbutton:hover .dropdown {
    display: block;
    /* right: 0; */
}
.tagline {
    background-color: lightsalmon;
    text-align: center;
}
.carousel {
    background-color: lightgoldenrodyellow;
}
.carousel div {
    display: flex;
    justify-content: space-between;
}
.carousel article {
    flex: 50%;
    background-color: lightgray;
    margin: 10px;
    height:200px;
}
.carousel .three{
    display: none;
}
.carousel .four {
    display: none;
}
.keyProject {
    background-color: lightgreen;
    padding: 20px;
    /* background-image: url("https://i.imgur.com/sOC5y6o.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px; */
}
.keyProject div {
    background-color: white;
    height: 200px;
    width: 100%;
    margin: auto;
}
.allProjectsMobile {
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project {
    background-color: turquoise;
    margin: 10px;
    height: 185px;
    width: 300px;
}
.aboutMe {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.aboutMe div {
    background-color: white;
    width: 200px;
    height: 200px;
    margin: 10px;
}
.aboutMe h2 {
    margin: 0px;
    
}
.aboutMe p {
    margin-top: 0;
}
.social {
    background-color: white;
}
.contact {
    background-color: lightsteelblue;
    background-image: INSERT LATER;
    display: flex;
    justify-content: center;
    /* flex-direction: column;     */
}
#form {
    background-color:lightskyblue;
}
.contactform {
    width: 200px;
    height: 140px;
    background-color: white;
    /* margin: auto; */
}
.contact button {
    align-self: flex-end;
}
footer {
    background-color: lavender;
    text-align: center;
}
.desktopSocialFooter {
    display: none;
}

/* tablet styling */
@media screen and (min-width: 768px){
    /* * {
        background-color: lime;
    } */
    .tablet {
        display: flex;
    }
    #nav-mobile {
        display: none;
    }
    #nav-tablet {
        display: flex;
    }
    #nav-tablet div{
        display: inline;
    }
    .carousel .two {
        display: none;
    }
    .carousel .three {
        display: flex;
    }
    .allProjectsMobile {
        display: none;
    }
    .allProjectsTablet{
        background-color: green;
        text-align: center;
    }
    .allProjectsTablet div {
    background-color: white;
    /* align-items: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    }
    /* USE CSS GRID 
    change about section from one column 3 rows to 2 columns with one row in right col and 2 rows in left col */
    /* CSS GRID
    change contact section from one col one row to 2 col 1 row */
}
@media screen and (min-width:1024px){
    /* * {
        background-color: pink
    } */
    .tabletheader {
        display: none;
    }
    #nav-tablet {
        display: none;
    }
    #nav-desktop {
        display: flex;
    }
    .tagline {
        display: none;
    }
    /* entire page gets css grid styling
    5 rows */
    /* about me section goes in top row without social links*/
    .carousel .three {
        display: none;
    }
    .carousel .four {
        display: flex;
    }
    .desktopSocialFooter {
        display: flex;
        justify-content: center;
    }
}   