@media screen and (min-width: 768px) {
    
    /* header/nav bar */
    .nav-mobile {
        display: none;
    }
    .header-tablet{
        display: block;
    }
    .nav-tablet {
        display: flex;
        justify-content: space-between;
        background-color: #A74330;
    }
    .title {
        color: white;
    }
    .nav-social {
		padding: 5px;
	}
	.nav-social li{
		display: inline;
        padding: 3px 10px;
    }
    .nav-social li a {
        text-decoration: none;
        color: white;
    }
    .tablet-links {
        display: inline;
    }
	.links {
		background-color: #ac6b5e;
		display: grid;
		grid-template-columns: 2fr 2fr 1fr 2fr 2fr;
		grid-template-rows: 1fr;
        text-align: center;
    }
    .links a {
        color: white;
        font-family: 'fauna one', serif;
        font-size: 14px;
        padding: 10px 0;
        
    }
    .links div img {
        width: 40px;
        border-radius: 50%;
    }


    /* projects */
    #Projects {
		display: grid;
		grid-template: 1fr 3fr 3fr 3fr/ repeat(2, 1fr);
		grid-gap: 20px;
	}
	#Projects h1 {
		grid-area: 1/1/2/3;
    }
    

    /* contact */
    .contact {
        display: grid;
        grid-template: 1fr/1fr 1fr;
    }
    .contact #form {
        grid-area: 1/2/2/3;
    }
}